[Unit]
After=network.target
Description=ForecaWeather Bot

[Service]
Type=simple
WorkingDirectory=/opt/venv/telegrambot
ExecStart=/opt/venv/telegrambot/bin/python3 /opt/forecaweather_bot/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target